In [2]:
#installing numpy-its a library(numerical python)
!pip install numpy

Requirement already satisfied: numpy in c:\users\prabhith vk\anaconda3\lib\site-packages (2.1.3)

In [4]:
#install pandas-panel data
!pip install pandas

Requirement already satisfied: pandas in c:\users\prabhith vk\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\prabhith vk\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\prabhith vk\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\prabhith vk\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\prabhith vk\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\prabhith vk\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
#import numpy and pandas and provinding the alias as np and pd
import numpy as np
import pandas as pd

In [6]:
#read the data set-its Telecom churn dataset
tel_data=pd.read_csv('churn-bigml-20.csv')
print(tel_data)

    State  Account length  Area code International plan Voice mail plan  \
0      LA             117        408                 No              No
1      IN              65        415                 No              No
2      NY             161        415                 No              No
3      SC             111        415                 No              No
4      HI              49        510                 No              No
..    ...             ...        ...                ...             ...
662    WI             114        415                 No             Yes
663    AL             106        408                 No             Yes
664    VT              60        415                 No              No
665    WV             159        415                 No              No
666    CT             184        510                Yes              No

     Number vmail messages  Total day minutes  Total day calls  \
0                        0              184.5               97
1                        0              129.1              137
2                        0              332.9               67
3                        0              110.4              103
4                        0              119.3              117
..                     ...                ...              ...
662                     26              137.1               88
663                     29               83.6              131
664                      0              193.9              118
665                      0              169.8              114
666                      0              213.8              105

     Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
0               31.37              351.6               80             29.89
1               21.95              228.5               83             19.42
2               56.59              317.8               97             27.01
3               18.77              137.3              102             11.67
4               20.28              215.1              109             18.28
..                ...                ...              ...               ...
662             23.31              155.7              125             13.23
663             14.21              203.9              131             17.33
664             32.96               85.0              110              7.23
665             28.87              197.7              105             16.80
666             36.35              159.6               84             13.57

     Total night minutes  Total night calls  Total night charge  \
0                  215.8                 90                9.71
1                  208.8                111                9.40
2                  160.6                128                7.23
3                  189.6                105                8.53
4                  178.7                 90                8.04
..                   ...                ...                 ...
662                247.6                 94               11.14
663                229.5                 73               10.33
664                210.1                134                9.45
665                193.7                 82                8.72
666                139.2                137                6.26

     Total intl minutes  Total intl calls  Total intl charge  \
0                   8.7                 4               2.35
1                  12.7                 6               3.43
2                   5.4                 9               1.46
3                   7.7                 6               2.08
4                  11.1                 1               3.00
..                  ...               ...                ...
662                11.5                 7               3.11
663                 8.1                 3               2.19
664                13.2                 8               3.56
665                11.6                 4               3.13
666                 5.0                10               1.35

     Customer service calls  Churn
0                         1  False
1                         4   True
2                         4   True
3                         2  False
4                         1  False
..                      ...    ...
662                       2  False
663                       1  False
664                       3  False
665                       1  False
666                       2  False

[667 rows x 20 columns]

In [123]:
#check the size and check the null value columns sum
tel_data.size
tel_data.isnull().sum()

State                       0
Account length              0
Area code                   0
International plan          0
Voice mail plan             0
Number vmail messages       0
Total day minutes           0
Total day calls             0
Total day charge            0
Total eve minutes           0
Total eve calls             0
Total eve charge            0
Total night minutes         0
Total night calls           0
Total night charge          0
Total intl minutes          0
Total intl calls            0
Total intl charge           0
Customer service calls      0
Churn                       0
churn_num                 667
Churn_numeric               0
dtype: int64

In [125]:
#checking the type of dataset and deleting the null value column
type(tel_data)
tel_data.drop(columns='churn_num')

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Churn_numeric
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,...,29.89,215.8,90,9.71,8.7,4,2.35,1,False,0
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,...,19.42,208.8,111,9.40,12.7,6,3.43,4,True,1
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,...,27.01,160.6,128,7.23,5.4,9,1.46,4,True,1
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,...,11.67,189.6,105,8.53,7.7,6,2.08,2,False,0
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,...,18.28,178.7,90,8.04,11.1,1,3.00,1,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,...,13.23,247.6,94,11.14,11.5,7,3.11,2,False,0
663,AL,106,408,No,Yes,29,83.6,131,14.21,203.9,...,17.33,229.5,73,10.33,8.1,3,2.19,1,False,0
664,VT,60,415,No,No,0,193.9,118,32.96,85.0,...,7.23,210.1,134,9.45,13.2,8,3.56,3,False,0
665,WV,159,415,No,No,0,169.8,114,28.87,197.7,...,16.80,193.7,82,8.72,11.6,4,3.13,1,False,0
666,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,...,13.57,139.2,137,6.26,5.0,10,1.35,2,False,0

In [68]:
#display the 1st 5 raws
tel_data.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False

In [69]:
#check the information about the dataset-like how many clumns, datatypes of each column etc
tel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   667 non-null    object
 1   Account length          667 non-null    int64
 2   Area code               667 non-null    int64
 3   International plan      667 non-null    object
 4   Voice mail plan         667 non-null    object
 5   Number vmail messages   667 non-null    int64
 6   Total day minutes       667 non-null    float64
 7   Total day calls         667 non-null    int64
 8   Total day charge        667 non-null    float64
 9   Total eve minutes       667 non-null    float64
 10  Total eve calls         667 non-null    int64
 11  Total eve charge        667 non-null    float64
 12  Total night minutes     667 non-null    float64
 13  Total night calls       667 non-null    int64
 14  Total night charge      667 non-null    float64
 15  Total intl minutes      667 non-null    float64
 16  Total intl calls        667 non-null    int64
 17  Total intl charge       667 non-null    float64
 18  Customer service calls  667 non-null    int64
 19  Churn                   667 non-null    bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 99.8+ KB

In [70]:
#checking all the description about the dataset-mean,std,min etc
tel_data.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
count,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000
mean,102.841079,436.157421,8.407796,180.948126,100.937031,30.761769,203.355322,100.476762,17.285262,199.685307,100.113943,8.985907,10.238381,4.527736,2.764948,1.563718
std,40.819480,41.783305,13.994480,55.508628,20.396790,9.436463,49.719268,18.948262,4.226160,49.759931,20.172505,2.239429,2.807850,2.482442,0.758167,1.333357
min,1.000000,408.000000,0.000000,25.900000,30.000000,4.400000,48.100000,37.000000,4.090000,23.200000,42.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,76.000000,408.000000,0.000000,146.250000,87.500000,24.860000,171.050000,88.000000,14.540000,167.950000,86.000000,7.560000,8.600000,3.000000,2.320000,1.000000
50%,102.000000,415.000000,0.000000,178.300000,101.000000,30.310000,203.700000,101.000000,17.310000,201.600000,100.000000,9.070000,10.500000,4.000000,2.840000,1.000000
75%,128.000000,415.000000,20.000000,220.700000,115.000000,37.520000,236.450000,113.000000,20.095000,231.500000,113.500000,10.420000,12.050000,6.000000,3.255000,2.000000
max,232.000000,510.000000,51.000000,334.300000,165.000000,56.830000,361.800000,168.000000,30.750000,367.700000,175.000000,16.550000,18.300000,18.000000,4.940000,8.000000

In [71]:
#checking the column names
tel_data.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [72]:
#checking the coount of columns
tel_data.columns.size

20

In [73]:
#checking the numerical columns
tel_data.select_dtypes(include=['number'])

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
0,117,408,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1
1,65,415,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4
2,161,415,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4
3,111,415,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2
4,49,510,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,114,415,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2
663,106,408,29,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1
664,60,415,0,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3
665,159,415,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1
666,184,510,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2

In [74]:
#numerical columns list
tel_data.select_dtypes(include=['number']).columns.tolist()

['Account length',
 'Area code',
 'Number vmail messages',
 'Total day minutes',
 'Total day calls',
 'Total day charge',
 'Total eve minutes',
 'Total eve calls',
 'Total eve charge',
 'Total night minutes',
 'Total night calls',
 'Total night charge',
 'Total intl minutes',
 'Total intl calls',
 'Total intl charge',
 'Customer service calls']

In [75]:
#check the categorical columns
tel_data.select_dtypes(include=['object','category'])

    State International plan Voice mail plan
0      LA                 No              No
1      IN                 No              No
2      NY                 No              No
3      SC                 No              No
4      HI                 No              No
..    ...                ...             ...
662    WI                 No             Yes
663    AL                 No             Yes
664    VT                 No              No
665    WV                 No              No
666    CT                Yes              No

[667 rows x 3 columns]

In [76]:
#columns list=categorical
tel_data.select_dtypes(include=['object','category']).columns.tolist()

['State', 'International plan', 'Voice mail plan']

In [84]:
#check the unque valus for 'Churn'-here True-customer left from company,False-Customer active
tel_data['Churn'].unique()

array([False,  True])

In [103]:
#display all the 'churn' customer with false value
tel_data[tel_data['Churn'] == False]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,churn_num
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,...,29.89,215.8,90,9.71,8.7,4,2.35,1,False,NaN
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,...,11.67,189.6,105,8.53,7.7,6,2.08,2,False,NaN
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,...,18.28,178.7,90,8.04,11.1,1,3.00,1,False,NaN
5,AK,36,408,No,Yes,30,146.3,128,24.87,162.5,...,13.81,129.3,109,5.82,14.5,6,3.92,0,False,NaN
6,MI,65,415,No,No,0,211.3,120,35.92,162.6,...,13.82,134.7,118,6.06,13.2,5,3.56,3,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,...,13.23,247.6,94,11.14,11.5,7,3.11,2,False,NaN
663,AL,106,408,No,Yes,29,83.6,131,14.21,203.9,...,17.33,229.5,73,10.33,8.1,3,2.19,1,False,NaN
664,VT,60,415,No,No,0,193.9,118,32.96,85.0,...,7.23,210.1,134,9.45,13.2,8,3.56,3,False,NaN
665,WV,159,415,No,No,0,169.8,114,28.87,197.7,...,16.80,193.7,82,8.72,11.6,4,3.13,1,False,NaN
666,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,...,13.57,139.2,137,6.26,5.0,10,1.35,2,False,NaN

In [14]:
#convert churn into numeric data
tel_data['Churn_numeric'] = tel_data['Churn'].map({True: 1, False: 0})
tel_data['Churn_numeric']

0      0
1      1
2      1
3      0
4      0
      ..
662    0
663    0
664    0
665    0
666    0
Name: Churn_numeric, Length: 667, dtype: int64

In [10]:
#false churn and true churn data
false_churn = tel_data[(tel_data['Churn'])==False]
True_churn = tel_data[(tel_data['Churn'])==True]
print(false_churn,True_churn)
print("false-count",false_churn.size)
print("True-count",True_churn.size)

    State  Account length  Area code International plan Voice mail plan  \
0      LA             117        408                 No              No
3      SC             111        415                 No              No
4      HI              49        510                 No              No
5      AK              36        408                 No             Yes
6      MI              65        415                 No              No
..    ...             ...        ...                ...             ...
662    WI             114        415                 No             Yes
663    AL             106        408                 No             Yes
664    VT              60        415                 No              No
665    WV             159        415                 No              No
666    CT             184        510                Yes              No

     Number vmail messages  Total day minutes  Total day calls  \
0                        0              184.5               97
3                        0              110.4              103
4                        0              119.3              117
5                       30              146.3              128
6                        0              211.3              120
..                     ...                ...              ...
662                     26              137.1               88
663                     29               83.6              131
664                      0              193.9              118
665                      0              169.8              114
666                      0              213.8              105

     Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
0               31.37              351.6               80             29.89
3               18.77              137.3              102             11.67
4               20.28              215.1              109             18.28
5               24.87              162.5               80             13.81
6               35.92              162.6              122             13.82
..                ...                ...              ...               ...
662             23.31              155.7              125             13.23
663             14.21              203.9              131             17.33
664             32.96               85.0              110              7.23
665             28.87              197.7              105             16.80
666             36.35              159.6               84             13.57

     Total night minutes  Total night calls  Total night charge  \
0                  215.8                 90                9.71
3                  189.6                105                8.53
4                  178.7                 90                8.04
5                  129.3                109                5.82
6                  134.7                118                6.06
..                   ...                ...                 ...
662                247.6                 94               11.14
663                229.5                 73               10.33
664                210.1                134                9.45
665                193.7                 82                8.72
666                139.2                137                6.26

     Total intl minutes  Total intl calls  Total intl charge  \
0                   8.7                 4               2.35
3                   7.7                 6               2.08
4                  11.1                 1               3.00
5                  14.5                 6               3.92
6                  13.2                 5               3.56
..                  ...               ...                ...
662                11.5                 7               3.11
663                 8.1                 3               2.19
664                13.2                 8               3.56
665                11.6                 4               3.13
666                 5.0                10               1.35

     Customer service calls  Churn
0                         1  False
3                         2  False
4                         1  False
5                         0  False
6                         3  False
..                      ...    ...
662                       2  False
663                       1  False
664                       3  False
665                       1  False
666                       2  False

[572 rows x 20 columns]     State  Account length  Area code International plan Voice mail plan  \
1      IN              65        415                 No              No
2      NY             161        415                 No              No
7      ID             119        415                 No              No
14     LA             155        415                 No              No
16     ID              77        415                 No              No
..    ...             ...        ...                ...             ...
606    CO             130        408                 No              No
615    MT             100        415                 No              No
652    WA              84        415                 No              No
653    MD             133        510                 No              No
661    CA              84        415                 No              No

     Number vmail messages  Total day minutes  Total day calls  \
1                        0              129.1              137
2                        0              332.9               67
7                        0              159.1              114
14                       0              203.4              100
16                       0              251.8               72
..                     ...                ...              ...
606                      0              271.8              129
615                      0              113.3               96
652                      0              289.1              100
653                      0              295.0              141
661                      0              280.0              113

     Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
1               21.95              228.5               83             19.42
2               56.59              317.8               97             27.01
7               27.05              231.3              117             19.66
14              34.58              190.9              104             16.23
16              42.81              205.7              126             17.48
..                ...                ...              ...               ...
606             46.21              237.2              128             20.16
615             19.26              197.9               89             16.82
652             49.15              233.8               97             19.87
653             50.15              223.6              101             19.01
661             47.60              202.2               90             17.19

     Total night minutes  Total night calls  Total night charge  \
1                  208.8                111                9.40
2                  160.6                128                7.23
7                  143.2                 91                6.44
14                 196.0                119                8.82
16                 275.2                109               12.38
..                   ...                ...                 ...
606                210.1                 91                9.45
615                284.5                 93               12.80
652                223.5                148               10.06
653                229.4                109               10.32
661                156.8                103                7.06

     Total intl minutes  Total intl calls  Total intl charge  \
1                  12.7                 6               3.43
2                   5.4                 9               1.46
7                   8.8                 3               2.38
14                  8.9                 4               2.40
16                  9.8                 7               2.65
..                  ...               ...                ...
606                 8.7                 2               2.35
615                11.7                 2               3.16
652                12.7                 2               3.43
653                12.9                 4               3.48
661                10.4                 4               2.81

     Customer service calls  Churn
1                         4   True
2                         4   True
7                         5   True
14                        0   True
16                        2   True
..                      ...    ...
606                       4   True
615                       4   True
652                       2   True
653                       2   True
661                       0   True

[95 rows x 20 columns]
false-count 11440
True-count 1900

In [15]:
#find churn percentage-percentage of customers left the telecom service
churn_percentage = tel_data['Churn_numeric'].mean() * 100
churn_percentage

np.float64(14.24287856071964)

In [117]:
#compare with Total night charge
tel_data.groupby('Churn')['Total night charge'].mean()

Churn
False    8.946731
True     9.221789
Name: Total night charge, dtype: float64

In [118]:
#Total intl charge
tel_data.groupby('Churn')['Total intl charge'].mean()

Churn
False    2.766084
True     2.758105
Name: Total intl charge, dtype: float64

In [120]:
#Total eve charge
tel_data.groupby('Churn')['Total eve charge'].mean()

Churn
False    16.983024
True     19.105053
Name: Total eve charge, dtype: float64

In [121]:
#Total day charge
tel_data.groupby('Churn')['Total day charge'].mean()

Churn
False    29.828829
True     36.379053
Name: Total day charge, dtype: float64

In [ ]:
'''I analyzed the churn column to identify customers 
who discontinued the service. I compared churned and non-churned customers 
based on Total day charge, Total eve charge, Total night charge,and Total intl charge to understand churn behavior.
1.Churned customers have higher day and evening charges
2.Day charge shows strongest difference
3.Night and international charges show minimal impact'''